{{- if and .Values.dashboard.enabled .Values.dashboard.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "clopus-watcher.fullname" . }}-dashboard
  namespace: {{ include "clopus-watcher.namespace" . }}
  labels:
    {{- include "clopus-watcher.dashboardLabels" . | nindent 4 }}
  {{- with .Values.dashboard.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.dashboard.ingress.className }}
  ingressClassName: {{ .Values.dashboard.ingress.className }}
  {{- end }}
  {{- if .Values.dashboard.ingress.tls }}
  tls:
    {{- range .Values.dashboard.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.dashboard.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "clopus-watcher.fullname" $ }}-dashboard
                port:
                  name: http
          {{- end }}
    {{- end }}
{{- end }}
